body, h1, h2, ul, li, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #161616;
}

header {
    background-color: #ed1d24;
    color: white;
    text-align: center;
    padding: 1px 0;
}

.logo {
    position: absolute;
    top: 10px; 
    left: 10px; 
    max-width: 150px; 
}

.logo2 {
    position: absolute;
    top: -12px; 
    right: 31px;
    max-width: 150px; 
    width: 100px;
    height: 100px;
}

header img {
    max-width: 100px;
}

header h1 {
    font-size: 36px;
    margin-top: 3px;
}

nav {
    background-color: #333;
    height: 40px;
}

nav ul {
    list-style-type: none;
    padding: 10px 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    background: transparent;
    border-radius: 20px;
    box-sizing: border-box;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 1px 4px 15px 2px #000000;
    color: #ed1d24; 
}

nav a:active {
    color: #ffcc00; 
}

main {
    max-width: 400px;
    height: 40px;
    margin: 10px auto;
    padding: 20px;
    background-color: #ffffff00;
    border-radius: 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
    margin-left: 1020px;
    margin-bottom: 200px;
    margin-top: -56px;
}

.search-container {
    text-align: center;
    margin-bottom: 20px;
    
}

#search-input {
    padding: 10px;
    width: 63%;
    height: 9px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    border-radius: 20px;
}

#search-button {
    padding: 7px 14px;
    background-color: #0073e6;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #0057a3;
}

.btn-box a {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 25px;
    background: #ffffff00;
    border: 2px solid #000000;
    border-radius: 8px;
    font-size: 15px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    left: 44%;
    bottom: 7px;
}

.btn-box a:hover {
    background: transparent;
    color: #ffffff;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #000000;
}
.btn-box a:nth-child(2):hover {
    color: #000000;
}


.btn-box a::before {
    content: '' ;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #000000 ;
    z-index: -1;
    transition: .5s;
} 

.btn-box a:hover::before {
    width: 100%;

}