/* Basic navbar styles */
nav {
    background-color: #cc5353;
    padding: 10px 0;
    position: relative; /* Required for positioning the image */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline;
    margin: 0 20px;
    position: relative; /* Required for positioning the image */
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

/* Image container */
.image-container {
    position: absolute;
    top: 100%; /* Position it below the navbar */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Add a smooth transition effect */
}

/* Show the image on hover */
li:hover .image-container {

    opacity: 10;
}

