* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    background-color: #e12835;
    background-image: radial-gradient(#e12835 20%, #be2633 50%, rgba(0, 0, 0, .5) 100%);
    background-size: 120%;
    background-position: center;
    font-family: 'Barlow Condensed', sans-serif;
    animation: tighten-vinette ease-out 1800ms forwards;
  }
  .images {
    pointer-events: none;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    opacity: 0.6;
    z-index: 20;
    background-size: cover;
    background-position: center;
    background-repeat: none;
    background-image: url('1.jpg');
  }
  .wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo {
    cursor: pointer;
    text-align: center;
  }
  .logo:hover .restart {
    opacity: 0.8;
  }

  .SKIP{
    width: 8%;
    padding: 3px;
    margin-left: 92%;
    transition: transform 0.3s ease-in-out;
  }

  .SKIP:hover {
    transform: scale(1.05); /* Enlarge card on hover */
  }

  .marvel, .studios {
    position: relative;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -0.2rem;
    font-size: 5rem;
    margin: 0.05rem 0.05rem 0.5rem;
    padding: 0 0.4rem;
    display: inline-block;
  }
  .studios {
    font-weight: 500;
    letter-spacing: -0.3rem;
    transform: translateX(-95px);
  }
  .marvel {
    z-index: 10;
    font-weight: 800;
    transform: translateX(95px);
  }
  .marvel:before {
    z-index: -10;
    content: '';
    display: block;
    background-color: #e12835;
    border: solid rgba(255, 255, 255, .2) 1px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .studios:after, .studios:before {
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    background-color: #fff;
    display: block;
    left: 0.4rem;
    right: 0.4rem;
  }
  .studios:before {
    top: 0;
  }
  .studios:after {
    bottom: 0;
  }
  .wrapper.run-animation {
    animation: shrink ease-out 4800ms forwards 600ms;
  }
  .wrapper.run-animation .marvel {
    transform: translateX(95px);
    animation: slide-out-X 750ms ease forwards;
  }
  .wrapper.run-animation .studios {
    transform: translateX(-95px);
    color: transparent;
    animation: slide-out-X 750ms ease forwards, show-text 300ms linear forwards 1500ms;
  }
  .wrapper.run-animation .studios:before {
    transform: translateY(2.9rem);
    animation: slide-out-Y 300ms ease forwards 750ms;
  }
  .wrapper.run-animation .studios:after {
    transform: translateY(-2.9rem);
    animation: slide-out-Y 300ms ease forwards 750ms;
  }
  .wrapper.run-animation .restart {
    opacity: 0;
    animation: fade-down 1200ms ease 3600ms forwards;
  }
  .wrapper.run-animation ~ .images {
    animation: flicker-images 1500ms 2 steps(1, end), fade-out 4500ms forwards;
  }
  @keyframes slide-out-X {
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slide-out-Y {
    100% {
      transform: translateY(0);
    }
  }
  @keyframes show-text {
    100% {
      color: #fff;
    }
  }
  @keyframes shrink {
    100% {
      transform: scale(0.8);
    }
  }
  @keyframes tighten-vinette {
    100% {
      background-size: 120%;
    }
  }
  @keyframes fade-down {
    0% {
      transform: translateY(-2rem);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 0.5;
    }
  }
  @keyframes fade-out {
    100% {
      opacity: 0;
    }
  }
  @keyframes flicker-images {
    0% {
      background-image: url('2.jpg');
    }
    10% {
      background-image: url('8.png');
    }
    20% {
      background-image: url('4.jpg');
    }
    30% {
      background-image: url('5.jpg');
    }
    40% {
      background-image: url('6.jpg');
    }
    50% {
      background-image: url('7.jpg');
    }
    60% {
      background-image: url('8.jpg');
    }
    70% {
      background-image: url('9.jpg');
    }
    80% {
      background-image: url('10.jpg');
    }
    90% {
      background-image: url('11.jpg');
    }
    100% {
      background-image: url('2.jpg');
    }
  }
  




